{:indents {deftest [[:inner 0]]
           testing [[:inner 0]]
           defn    [[:inner 0]]
           defmacro [[:inner 0]]
           case    [[:block 1]]
           cond    [[:block 0]]
           let     [[:block 1]]
           when    [[:block 1]]
           if      [[:block 1]]}

 :alias-map {test clojure.test
             wam  wam-emulator.core}
 
 :remove-consecutive-blank-lines? true
 :remove-trailing-whitespace? true
 :insert-missing-whitespace? true
 :remove-surrounding-whitespace? true} 
