#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]
          :ns-patterns ["tipster.*-test"]}]}

 :plugins [:kaocha.plugin/profiling
           :kaocha.plugin/cloverage]
 
 :cloverage/opts {:runner :kaocha
                  :test-ns-regex #"tipster\..*-test"}

 :kaocha.plugin.capture-output/capture-output? true

 :fail-fast? false
 :color? true
 :watch? false} 
