[Unit]
Description=Frontol Report

[Service]
Type=simple
User=app
ExecStart=/app/ftrep/run.sh
WorkingDirectory=/app/ftrep
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
