{:lint-as {clojure.test/deftest clojure.core/defn
           clojure.test/testing clojure.core/fn}
 
 :linters {:unresolved-symbol {:level :error
                               :exclude [wam/reset-wam!
                                         wam/X wam/P wam/heap wam/stack wam/trail
                                         wam/program-code wam/B wam/H wam/CP]}
           
           :unused-binding {:level :warning}
           :unused-import {:level :warning}
           :unused-namespace {:level :warning}
           :unused-referred-var {:level :warning}
           :unused-private-var {:level :warning}
           
           :missing-docstring {:level :info}
           :inconsistent-alias {:level :warning}
           :refer-all {:level :warning}
           
           :type-mismatch {:level :error}
           :invalid-arity {:level :error}
           :redefined-var {:level :warning}}

 :output {:pattern "{{filename}}:{{row}}:{{col}}: {{level}}: {{message}}"
          :include-files true}} 
